/* This is the styling for the landing page */

.mainContainer {
    display: grid;
    grid-template-areas: 
    "about about about"
    "b c c"
    "b c c";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    color: var(--primary-colour);
}

.aboutContainer {
    grid-area: about;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 50%;
}

.title {
    align-self: center;
}